
asttokens==2.4.1
black==24.3.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
docopt==0.6.2
executing==2.0.1
flake8==6.1.0
iniconfig==2.0.0
ipdb==0.13.13
ipython==8.22.2
isort==5.13.2
jedi==0.19.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
platformdirs==4.2.0
pluggy==1.4.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pudb==2024.1
pure-eval==0.2.2
pycodestyle==2.11.1
pyflakes==3.1.0
Pygments==2.17.2
pyproject-flake8==6.1.0
pytest==8.1.1
pytest-watch==4.2.0
rich==13.7.1
rich-click==1.7.4
setuptools==69.2.0
six==1.16.0
stack-data==0.6.3
-e git+https://github.com/alletsc/pipeline-taxi-gcp.git@107f3a8f91e5ef8d0482b611d7c738188acf1eb2#egg=taxi_gcp
traitlets==5.14.2
typing_extensions==4.10.0
urwid==2.6.9
urwid_readline==0.14
watchdog==4.0.0
wcwidth==0.2.13
